
{{- define "main" -}}
<div class="container-fluid">
  <div class="row no-gutters">
  <div class="col-8 ml-auto mr-auto col-lg-2 order-12">
    <div class="sidebar-section">

                    <div class="sidebar-item">
                      <div class="make-me-sticky">
                      
        <div class="row">
          <div class="col-6">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=talkrtive-20&marketplace=amazon&region=US&placement=1491981652&asins=1491981652&linkId=4d75c13e26233dd4948387ad8fee022e&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
          </div>
          <div class="col-6">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=talkrtive-20&marketplace=amazon&region=US&placement=1491910399&asins=1491910399&linkId=b16eb6c1b71e04d20b65593e344224bf&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=talkrtive-20&marketplace=amazon&region=US&placement=1491910399&asins=1491910399&linkId=08d3bddde55230ccefde5f1cb95c61e6&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
          </div>
          <div class="col-6">
            <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=talkrtive-20&marketplace=amazon&region=US&placement=1449359019&asins=1449359019&linkId=5abc0aadff756d38c2e6f01184c4d4bb&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
          </div>
        </div>
        
        <div class="row no-gutters">
          <div class="col-12">   
          <a href="https://www.datacamp.com/?tap_a=71764-a10e71&tap_s=1116732-b5cdc6" target="_BLANK" rel="nofollow"><img src="../../img/datacamp_learn_datascience.png" alt="datacamp">
          
  </a>
          
      </div>
      </div>
        
        </div>
        </div>
        
        
        </div>
    </div>
<div class="col-12 col-lg-10 ml-auto order-6">
      <article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="article-style">
      <script data-ad-client="ca-pub-7360397776803570" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      {{ .Content }}
      
      <script data-ad-client="ca-pub-7360397776803570" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      
      {{ partial "page_footer" . }}
      
      <script data-ad-client="ca-pub-7360397776803570" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    </div>

  </div>
</article>
      
    </div>
    </div>
  
</div>

{{- end -}}
